<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99Test Automation Framework">
	<listeners>
		<listener class-name="com.guru99demobank.listners.Listners"></listener>
		<listener
			class-name="com.guru99demobank.listners.SuiteListners"></listener>
	</listeners>
	<test thread-count="3" name="Test" >
		<classes>
			<class name="com.guru99demobank.tests.LoginPageTest" />
			<class name="com.guru99demobank.tests.HomePageTest" />
			<class name="com.guru99demobank.tests.NewCustomerPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
